.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

#root {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}
.prompt{
  color: yellow;
}


button.time-option-button{
  background-image: linear-gradient(to bottom right, #D868DE, #766CEC);
  box-shadow: 2px 0 5px 0 #766CEC;
  font-size: 2.5em;
  margin-top: 0.4em;
  border-radius: 20px;
  min-width: 2em;
}

button.time-option-button:hover, button.time-option-button:focus{
  background-image: linear-gradient(to bottom right, #766CEC, #D868DE);
  transform: translate(0.5px, 1px);
}

button.time-select-button {
background-image: linear-gradient(to left, #4877E7, #66E8AF);
box-shadow: 2px 0 5px 0 #4877E7;
font-size: 2em;
margin: 0.1em;
border-radius: 20px;
min-width: 2em;
margin-top: 0.5em;
}

button.time-select-button:hover{
background-image: linear-gradient(to right, #4877E7, #66E8AF);
transform: translate(0.5px, 1px);
}

button.timer-button, button.start-button{
background-image: linear-gradient(to right, #4877E7, #66E8AF);
padding: 0.5em 1.5em;
border-radius: 20px;
font-size: 0.7em;
}

button.timer-button:hover, button.start-button:hover{
background-image: linear-gradient(to left, #4877E7, #66E8AF);
}

input.time-select {
  background-image: linear-gradient(to left, #4877E7, #66E8AF);
  box-shadow: 2px 0 5px 0 #4877E7;
  border-radius: 20px;
  color: black;
  font-size: 1.5em;
  margin-top: 0.8em;
  text-align: center;
}

.time-select::placeholder {
  color: #8B4513;
}

.App-link {
  color: #09d3ac;
}
.timer{
  background-color:beige;
  padding: 0.2em;
  margin: 1em;
  font-size: 1.5em;
  color: black;
  border-radius: 20px;
}
.timer-display{
  border: 1px solid black;
  border-radius: 20px;
}

.prompt-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
}

.button-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  /* align-items: center; */
}
a {
  color: white;
  margin: 0 1em;
}

.logo {
  height: 30vmin;
  object-fit:contain;
}
.times-up-logo {
  height: 27vh;
  object-fit:contain;

}

  h3 {
    font-family: 'Londrina Sketch', cursive;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: #55aaff;
  }

  .customPrompt {
    width: 150px;
    height: 150px;
    border: 1px
    solid #999999;
    padding: 5px;
  }
